<section class="section-container">
    <!--Primer cambio acá-->
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="tittle" class="form-label">Titulo</label>
          <input type="tittle" name="title" id="texto" class="form-input" placeholder="El titulo de tu publicacion" formControlName="tittle" >
        </div>
        <div class="form-group">
            <label for="descrip" class="form-label">Descripción</label>
            <textarea 
              name="descrip" 
              id="textarea" 
              class="form-input" 
              placeholder="Escribe tu texto aquí..." 
              formControlName="descrip"
              rows="5"
              cols="40">
            </textarea>
        </div>
        <button type="submit" class="btn-primary" [disabled]="loading()">{{ loading() ? 'Subiendo...': 'Subir ' }}</button>
      </form>
</section>
